.BlogCard {
  background: #f9f8f8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.BlogCard:hover {
  background: #36a0cd;
  color: white;
}


.blog-post h2{
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding-top: 2.25rem;
  padding-bottom: 0.875rem;
}

.blog-post h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 2.25rem;
  padding-bottom: 0.875rem;
}

.blog-post p {
  padding-top: 1.25rem;
}


.blog-post ul {
  padding-top: .75rem;
  margin-left: .75rem;
}
