/* CSS Custom Properties Definitions */

:root {
  --fontFamily-sans: lato, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "lato", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Open Sans", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontSize-root: 16px;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
  font-family: var(--font-body);
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.header-bold {
  font-weight: 700;
}
